.collageRow {
  display: flex;
  flex-direction: row;
  border: 16px solid #fff;

}

.image {
  position: relative !important;
  width: 100%;
  height: auto;
  border: 16px solid #fff;
}

.description {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

}

.description p {
  margin: 0px;
  position: relative;
}

.textDeco {
  font-style: italic;
  font-family: serif;
  font-size: 3vw;
}





@media screen and (max-width :768px) {

  .collageRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
   }

  .image {
    position: relative !important;
    width: 90%;
    
  }
  
  .description {
    color: white;
    height: 15vh;
    margin-bottom: 20px;
    justify-content: flex-end;
  }

  .paragraph {
    text-align: center;
    padding: 20px;
    color: white;

  }
  .textDeco {
    font-style: italic;
    font-family: serif;
    font-size: 5vw;
  }
  
}